#categoriesInp {
    width: 100px;
}
#wordInp {
    width: 120px;
}
#defInp {
    width: 200px;
    height: 100px;
}
#createCard {
    position: relative;
    bottom: 200px;
    padding: 15px;
    width: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#createFront {
    position: relative;
    bottom: 127px;
    background: #F8F5F0;
    width: fit-content;
    height: 350px;
}
#createBack {
    background: #F8F5F0;
    width: 228px;
    height: 144px;
}

#addStack {
    margin-bottom: 20px;
}

#cancel {
    margin-right: 5px;
}
